#card{
    width: 25%;
    padding: 20px;
    margin: 30px;
    /* border: 2px solid red; */
    border-radius: 30px;

    box-shadow: 1px 1px 29px -7px rgba(128,128,128,0.75);
-webkit-box-shadow: 1px 1px 29px -7px rgba(128,128,128,0.75);
-moz-box-shadow: 1px 1px 29px -7px rgba(128,128,128,0.75);
}
#card-body{
    display: flex;
    flex-direction: column;
}
#card-title{
    display: flex;
    align-items: center;
}
#card-image{
    width: 100px;
    height: 100px;
}
#card-h5{
    font-size: large;
    margin: 20px;
}
#card-desc{
    margin: 20px 20px 20px 0px;
    word-spacing: 2px;
}
#card-time{
    text-align: right;
    color: grey;
    font-style: italic;
}