#sub {
    width: 100%;
}

#sub-body {
    /* border: 2px solid red; */
    background-color: #003145;
    color: #fff;
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

#sub-title {
    width: 70%;
}

#sub-heading {
    display: flex;
    align-items: center;
    padding: 0 0 30px 0;
}
#sub-head-img{
    width: 150px;
    border-radius: 20px;
}

#sub-head-p {
    font-size: xx-large;
    font-weight: bold;
    margin: 30px;
}


#sub-info {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

#sub-favourite {
    margin: 0 20px 0 0;
}

#sub-date {
    margin-left: 20px;
    padding: 10px;
    background-color: #255973;
    border-radius: 30px;
}


#sub-btn{
    padding: 10px;
    /* border: 2px solid red; */
}
#sub-group-btn{
    display: flex;
    flex-direction: column;
}
#sub-btn-edit, #sub-btn-delete{
    padding: 10px 20px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    border-radius: 10px;
    margin: 10px;
    font-size: large;
    cursor: pointer;
}
#sub-btn-edit:hover, #sub-btn-delete:hover{
    opacity: 0.7;
}





#detail{
    width: 100%;
    padding: 100px;

    display: flex;
    justify-content: space-between;
}
#detail-desc{
    width: 60%;
}
#detail-desc-title{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 30px;
}
#detail-info{
    width: 30%;
    display: flex;
    flex-direction: column;
}

#detail-v-title{
    color: #858585;
}
#detail-v-name{
    margin: 15px 0;
    font-weight: bold;
}
#detail-v-date{
    color: #858585;
    /* border: 2px solid red; */
}
#detail-links{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
#detail-btn-github, #detail-btn-link{
    color: #858585;
    border: 2px solid #858585;
    border-radius: 10px;
    width: 50%;
    padding: 10px 20px;
    font-size: large;
    background: none;
    cursor: pointer;
}
#detail-btn-link{
    margin-top: 10px;
}